@whatever: ~">>>";

.ContentItem {
  margin-bottom: 48px
}
.ContentItem-title {
  font-size: 18px;
  font-weight: 600;
  font-synthesis: style;
  line-height: 1.6;
  color: #1a1a1a;
  margin-bottom: 12px;
  a{
    color: rgba(0,0,0,.84);
    fill: rgba(0,0,0,.84);
  }
}
.RichContent-bar{
  margin-top: 12px;
  .ui-caption{
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);
  }
}