.Topstory-mainColumnCard {
}

.Hotstory-mainColumnCard .Card:not(.Topstory-tabCard) {
  margin-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #f0f2f7;
}

.HotStory-recommend {
  .HotStory-isRecommend {
    padding: 20px
  }

}

.HotstoryItem {
  border-radius: 0;
  overflow: visible;
  overflow: initial;
  position: relative;
  padding: 16px 20px;
  margin-bottom: 24px;
  background-color: rgb(250, 250, 250);
  &:focus {
    z-index: 1;
    outline: none;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s
  }
}

.ContentItem-title {
  font-size: 18px;
  font-weight: 600;
  font-synthesis: style;
  line-height: 1.6;
  color: #1a1a1a;
  margin-top: -4px;
  margin-bottom: -4px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.RichContent {

}

.RichContent-inner {
  margin-top: 9px;
  overflow: hidden
}
.RichContent-cover {
  margin-top:18px
}
.RichContent.is-collapsed {
  .RichContent-inner {
    max-height: 100px
  }
}
.ContentItem-title {
  font-size: 18px;
  font-weight: 600;
  font-synthesis: style;
  line-height: 1.6;
  color: #1a1a1a;
  margin-top: -4px;
  margin-bottom: -4px
}
html[data-ios] .ContentItem-title {
  font-weight: 500
}

html[data-android] .ContentItem-title {
  font-weight: 700
}

html[data-theme=dark] .ContentItem-title {
  color: #999
}
.ContentItem-title a:hover, html[data-theme=dark] .ContentItem-title a:hover {
  color: #175199
}

@media (min-width: 690px) {
  .RichContent.is-collapsed {
    cursor: pointer;
    -webkit-transition: color .14s ease-out;
    transition: color .14s ease-out;
    .RichContent-inner:hover {
      color: #646464
    }
  }

  html[data-theme=dark] .RichContent.is-collapsed .RichContent-inner:hover {
    color: #999
  }
}
.ContentItem-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 -20px -10px;
  color: #646464;
  background: #fff;
  clear: both;
}
.ContentItem-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 -20px -10px;
  color: #646464;
  background: initial;
  clear: both
}

html[data-theme=dark] .ContentItem-actions {
  color: #999;
  background: #1a1a1a
}
.Button {
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  color: #8590a6;
  text-align: center;
  cursor: pointer;
  background: none;
  border: 1px solid;
  border-radius: 3px;
  font-weight: bold;
}
.Button--link, .Button--plain {
  height: auto;
  padding: 0;
  line-height: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
