@gu-global-width: 990px;
@gu-main-col-width: 620px;
@gu-aside-width: 350px;
@border-color: #e6ecf0;
@font-light-color: rgb(101, 119, 134);
@gu-display-flex: {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

body {
  &.colorWeak {
    filter: invert(80%);
  }

  &.userLayout {
    overflow: auto;
  }

  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
}

div, p, h1 {
  outline: 0;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

svg {
  outline: 0;
}

a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
  -ms-touch-action: none;
  touch-action: none;
  cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #bfbfbf;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #bfbfbf;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #bfbfbf;
}

input {
  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  &:focus::-moz-placeholder {
    opacity: 0;
  }

  &:focus::-ms-input-placeholder {
    opacity: 0;
  }
}

.gu-clearfix:after, .gu-clearfix:before {
  display: table;
  content: " ";
}

.gu-clearfix:after {
  clear: both;
}

.gu-flexCenter {
  @gu-display-flex();
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gu-flex {
  @gu-display-flex();
}

.gu-flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.gu-floatLeft {
  float: left;
}

.gu-floatRight {
  float: right
}

.gu-padding32 {
  padding: 32px;
}

.gu-marginBottom24 {
  margin-bottom: 24px;
}

.gu-borderBottomLighter {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.gu-fontSize32 {
  font-size: 32px;
}

.gu-textColorLighter {
  color: rgba(0, 0, 0, .15);
  fill: rgba(0, 0, 0, .15);
}

.GuButton {
  padding: 6px 6px;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 800;
  border-width: 1px;
  border-style: solid;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 8px;
  outline: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px auto;
  background-color: #fff;
}

.GuButton--light {
  color: rgb(0, 0, 0);
  border-color: rgb(128, 128, 128);
  font-weight: 400;

  &:hover {
    background-color: #fff;
    color: #1a1a1a;
  }
}

.GuButton--color {
  fill: #029e74;
  color: #029e74;
  font-weight: 400;
  border-color: #029e74;

  &:hover {
    background-color: #fff;
    color: rgb(1, 105, 77);
  }
}

.GuButton--small {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.avatar {
  display: block;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: normal;
  position: relative;

  .avatar-image {
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
}

.main-layout {
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  @gu-display-flex();
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  z-index: 0;
}

.align-items-start {
  -webkit-box-align: start;
  align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
  align-items: flex-end;
}

.align-items-stretch {
  -webkit-box-align: stretch;
  align-items: stretch;
}

.flex-grow1 {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.flex-row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.gu-flex-shrink {
  flex-shrink: 1;
}

.position-flex {
  position: fixed;
}

.height100 {
  height: 100%;
}

.gu-header-width {
  width: 252px;
}

.justify-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
  justify-content: center;
}

.display-flex {
  display: flex;
}

.main-css {
  -webkit-box-flex: 1;
  -webkit-flex-basis: 0%;
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.header-menu-options {
  margin-top: 2px;
  margin-bottom: 5px;
  width: 100%;

  .header-menu-option {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;

    .menu-option-body {
      padding: 10px;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      transition-duration: 0.1s;

      &:hover {
        background-color: rgba(72, 199, 116, 0.12);
        border-radius: 22px;

        .menu-option-title {
          color: rgba(72, 199, 116);
        }
      }

      .menu-option-title {
        font-size: 19px;
        font-weight: bold;
        margin-right: 15px;
        margin-left: 20px;
        border: 0 solid black;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 1.00);
        display: inline;
        padding: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}

.main-border {
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
}

.gu-main-width {
  width: @gu-global-width;
}

.gu-main-col-width {
  max-width: @gu-main-col-width;
}

.gu-aside-width {
  width: @gu-aside-width;
}

.paddingtop10 {
  padding-top: 10px;
}

.main-blank {
  padding-top: 39px;
  width: 619px;
}