@import './index.less';
body {
  &.colorWeak {
    filter: invert(80%);
  }
  &.userLayout {
    overflow: auto;
  }
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  -webkit-tap-highlight-color: rgba(26,26,26,0);
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
  -ms-touch-action: none;
  touch-action: none;
}

.gu-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.gu-padding32 {
  padding: 32px;
}
.gu-marginBottom24 {
  margin-bottom: 24px;
}
.gu-borderBottomLighter{
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.gu-fontSize32 {
  font-size: 32px;
}
.gu-textColorLighter{
  color: rgba(0,0,0,.15);
  fill: rgba(0,0,0,.15);
}