@whatever: ~">>>";
.story-container{
  padding: 1em;
  margin: 0px auto;
}
.story-body{
  background-color: rgb(255, 255, 255);
  max-width: 820px;
  margin: 2em auto;
}
.enlargeable{
}
.story-body-header{
  position: relative;
  text-align: left;
  h1{
    color: rgb(0, 0, 0);
    min-width: 0px;
    padding-right: 4em;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    a{
      font-weight: 500;
      color: rgb(0, 0, 0);
      line-height: 1.5em;
      font-size: 2rem;
    }
  }
}
.post-sidebar{
  position: fixed;
  top: calc(65px + 54px + 40px);
  transition: opacity 200ms;
  opacity: 0;
  width: 100%;
  .post-sidebar__maincol{
    justify-content: center;
    margin: 0 4rem;
    .post-sidebar__body{
      flex-direction: column;
      .post-sidebar__actions{
      }
    }
  }

}
.post-sidebar.show{
  opacity: 1;
}
.enlargeable-header {
  font-size: 1.25em;
}
@media (min-width: 800px){
 .enlargeable-header {
   font-size: 1.5em;
 }
}

.reply-container{
  margin: 0px auto;
  max-width: 720px;
  padding: 2em 1em 1em;
  @{whatever} .medium-editor-container {
    margin: 0 0.5rem;
    padding: 1rem 0;
    font-size: 1rem;
  }
  .flex-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .reply-input{
    button{
      background-color: transparent;
      border: none;
      visibility: visible;
      line-height: 2em;
      text-decoration: none;
    }
  }
}
.reply-header{
  margin-bottom: 16px;
}
.medium-editor{
  font-size: 1.05rem;
  color: #1d1d1d;
}

.medium-editor @{whatever} p{
  margin-bottom: 1.2rem;
  line-height: 2rem;;
}
.medium-editor @{whatever} ol{
  margin-left: 1.3rem;
  margin-top: 1rem;
  li{
    margin-bottom: 0.5rem;
  }
}
.medium-editor @{whatever} iframe{
  height: 34rem !important;
  width: 100%;
}
.mobile .medium-editor @{whatever} iframe{
  height: 14rem !important;
}
.medium-editor @{whatever} blockquote {
  margin: 1.4em 0;
  padding-left: 1em;
  color: #646464;
  border-left: 3px solid #d3d3d3;
}