@whatever: ~">>>";
.user-container {
  max-width: 728px;
  padding: 1em;
  margin: 0px auto;
}

.user_mainColum {
  width: 100%;
  textarea.ant-input {
    font-size: 16px;
    min-height: auto;
    border: 1px solid transparent;
    padding: 0px;
    outline: 0;
  }
  .ant-input:focus {
    border-color: transparent;
    box-shadow: none;
  }
}


.defaultValue {
  color: #b3b3b1;
}
.user_nickName {
  margin-bottom: 30px;
  h1 {
    font-size: 2.4rem;
    margin-bottom: 0rem;
    textarea.ant-input {
      font-size: 29px;
    }
  }
  .user_edit {
    margin-left: 20px;
    flex: 0 0 auto;
    align-items: center;
    display: flex;
  }
}
.user_follow{
  a{
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
  }
}
.margintop12 {
  margin-top: 12px;
}
.margintop24 {
  margin-top: 24px;
}


.user_location {
  margin-top: 12px;
}

.user_mainColum-tabs {
  margin-top: 12px;
  @{whatever} .vue-tablist {
    list-style: none;
    display: flex;
    padding-left: 0;
    border-bottom: 1px solid #e2e2e2;
  }
  @{whatever} .vue-tablist {
    list-style: none;
    display: flex;
    padding-left: 0;
    border-bottom: 1px solid #e2e2e2;
  }
  @{whatever} .vue-tab {
    padding: 5px 12px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-bottom-color: #e2e2e2;
    border-radius: 3px 3px 0 0;
    background-color: white;
    position: relative;
    bottom: -1px;
  }

  @{whatever} .vue-tab[aria-selected="true"] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
    font-weight: 600;
  }

  @{whatever} .vue-tab[aria-disabled="true"] {
    cursor: not-allowed;
    color: #999;
  }
}
